.clouds-wrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
    min-width: 1080px;
}

.clouds{
    width: 100%;
    height: 100%;
    position: relative;
}

#cloud1{
    width: 300px;
    height: 100px;
    top: 15%;
    left: 10%;
    position: absolute;
}

#cloud1 .subcloud1{
    width: 125px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 35px;
}

#cloud1 .subcloud2{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 0;
}

#cloud1 .subcloud3{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 140px;
}

#cloud1 .subcloud4{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 135px;
}

#cloud2{
    width: 200px;
    height: 100px;
    top: 10%;
    left: 45%;
    position: absolute;
}

#cloud2 .subcloud1{
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 35px;
}

#cloud2 .subcloud2{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#cloud2 .subcloud3{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    left: 20px;
}

#cloud2 .subcloud4{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 90px;
}

#cloud3{
    width: 200px;
    height: 200px;
    top: 10%;
    left: 75%;
    position: absolute;
}

#cloud3 .subcloud1{
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 35px;
}

#cloud3 .subcloud2{
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#cloud3 .subcloud3{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 75px;
    left: 15px;
}

#cloud3 .subcloud4{
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 90px;
}

#cloud4{
    width: 200px;
    height: 100px;
    top: 30%;
    left: 35%;
    position: absolute;
}

#cloud4 .subcloud1{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50px;
}

#cloud4 .subcloud2{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#cloud4 .subcloud3{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 50px;
}

#cloud4 .subcloud4{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 90px;
}

.cloud_animation1{
    animation: cloud_animation 10s infinite;
}

.cloud_animation2{
    animation: cloud_animation 15s infinite;
}

.cloud_animation3{
    animation: cloud_animation 17.5s infinite;
}

/* animation to move left and right */
@keyframes cloud_animation {
    0% {transform: translateX(0px);}
    25% {transform: translateX(-50px);}
    50% {transform: translateX(0px);}
    75% {transform: translateX(50px);}
    100% {transform: translateX(0px);}
}