
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planets{
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
    position: relative;
}