
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main{
    height: 200vh;
    width: 100vw;
}

.first-scene{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.planets{
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
    position: relative;
}

.second-scene{
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: absolute;
    top: 100vh;
    left: 0;
    opacity: 1;
    background: linear-gradient(#0072A0, 10%, #00ABF0, #19BDFF);
}