<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/moon.css">
    <link rel="stylesheet" href="../style/sun.css">
    <link rel="stylesheet" href="../style/earth.css">
    <link rel="stylesheet" href="../style/stars.css">
    <link rel="stylesheet" href="../style/mountains.css">
    <link rel="stylesheet" href="../style/clouds.css">
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/MotionPathPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="../javascript/main.js"></script> 
    <script src="../javascript/sun.js"></script>
    <script src="../javascript/planets-motion.js"></script>
    <script src="../javascript/stars.js"></script>
    <script src="../javascript/zoom_in_animation.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="first-scene">
            <div id="stars-wrapper"></div>
            <div class="planets">
                <path id="sun_path" class="sun_path" d="M-45,165 C-45,165 15,225 238,225 470,224 508,124 626,119 716,114 869,231 993,231 1102,230 1207,165 1207,165"></path>
                <path id="moon_path" class="moon_path" d="M271,129 C271,129 183.003,56.722 136,53 94.489,49.711 -53.003,130.998 -108,132 -168.99,133.111 -242.078,43.152 -312,42 -392.082,40.68 -512,122 -512,122"></path>

                <div class="moon-wrapper" id="moon-wrapper">
                    <div class="moon" id="moon">
                        <div class="crater1"></div>
                        <div class="crater2"></div>
                        <div class="crater3"></div>
                        <div class="crater4"></div>
                        <div class="crater5"></div>
                    </div>
                </div>

                <div class="earth-wrapper" id="earth-wrapper">
                    <div class="earth" id="earth">
                        <div class="continent" id="africa"></div>
                        <div class="continent" id="europe"></div>
                        <div class="continent" id="europe2"></div>
                        <div class="continent" id="north-america"></div>
                        <div class="continent" id="south-america"></div>
                        <div class="continect" id="north-pol"></div>
                        <div class="continent" id="south-pol"></div>
                    </div>
                </div>

                <div class="sun-wrapper" id="sun-wrapper">
                    <div class="sun" id="sun">
                        <div class="rays">
                            <div class="ray ray_animation1" id="ray1"></div>
                            <div class="ray ray_animation2" id="ray2"></div>
                            <div class="ray ray_animation3" id="ray3"></div>
                            <div class="ray ray_animation1" id="ray4"></div>
                            <div class="ray ray_animation1" id="ray5"></div>
                            <div class="ray ray_animation2" id="ray6"></div>
                            <div class="ray ray_animation3" id="ray7"></div>
                            <div class="ray ray_animation2" id="ray8"></div>
                            <div class="ray ray_animation3" id="ray9"></div>
                            <div class="ray ray_animation1" id="ray10"></div>
                            <div class="ray ray_animation2" id="ray11"></div>
                            <div class="ray ray_animation3" id="ray12"></div>
                            <div class="ray ray_animation3" id="ray13"></div>
                            <div class="ray ray_animation2" id="ray14"></div>
                            <div class="ray ray_animation1" id="ray15"></div>
                            <div class="ray ray_animation3" id="ray16"></div>
                            <div class="ray ray_animation2" id="ray17"></div>
                            <div class="ray ray_animation3" id="ray18"></div>
                            <div class="ray ray_animation2" id="ray19"></div>
                            <div class="ray ray_animation3" id="ray20"></div>
                            <div class="ray ray_animation1" id="ray21"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="second-scene">
            <div class="second-scene-wrapper">
                <div class="clouds-wrapper">
                    <div class="clouds">
                        <div class="cloud cloud_animation1" id="cloud1">
                            <div class="subcloud1"></div>
                            <div class="subcloud2"></div>
                            <div class="subcloud3"></div>
                            <div class="subcloud4"></div>
                        </div>
                        <div class="cloud cloud_animation2" id="cloud2">
                            <div class="subcloud1"></div>
                            <div class="subcloud2"></div>
                            <div class="subcloud3"></div>
                            <div class="subcloud4"></div>
                        </div>
                        <div class="cloud cloud_animation1" id="cloud3">
                            <div class="subcloud1"></div>
                            <div class="subcloud2"></div>
                            <div class="subcloud3"></div>
                            <div class="subcloud4"></div>
                        </div>
                        <div class="cloud cloud_animation3" id="cloud4">
                            <div class="subcloud1"></div>
                            <div class="subcloud2"></div>
                            <div class="subcloud3"></div>
                            <div class="subcloud4"></div>
                        </div>
                    </div>
                </div>
                <div class="mountains">
                    <div class="mountain" id="mountain1"></div>
                    <div class="mountain" id="mountain2"></div>
                    <div class="mountain" id="mountain3"></div>
                    <div class="mountain" id="mountain4"></div>
                    <div class="mountain" id="mountain5"></div>
                    <div class="mountain" id="mountain6"></div>
                    <div class="mountain" id="mountain7"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>